{% extends 'base.html' %}
{% load static %}
{% block content %}
</br>
</br>
<div align="center">
    <div class="register-div">
        <div class="card w-75">
            <div class="card-body">
                <h3 style="font-family: Lato-Light"> Log in here</h3></br>
                <hr class="my-4">
                 <form action="{% url 'login' %}" method="post">
                    {%  csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputUsername">Username</label></br>
                             {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label></br>
                            {{ form.password }}
                    </div>
                    {% if form.errors %}
                    <p style="color: darkred">Account does not exist</p>
                    {% endif %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}