

{%  for item in dishes %}
    <div align="center">
    <div class="card" style="width: 40rem;">
            <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                        <p>{{ item.price }}</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Edit</a>
                         <a style="color: darkred" href="#" class="card-link">Delete</a>
            </div>
    </div>
    </div>
    </br>
{% endfor %}